
.navigation-menu {
    width: 100%;
    height: var(--nav-height);    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    position: fixed;
    /* backdrop-filter: blur(10px);  */    
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-weight: 600;
    z-index: 1000;
    transition: all 0.25s ease-in-out 0s;      

    /* Controlled via JS */     
    background-color: transparent; /*var(--nav-background);*/
    opacity: 40%; 
}

.navigation-menu.underlined:after {
    box-sizing: border-box;   
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    left: 0;
    top: var(--nav-height);
    background-color: var(--nav-underline);
    transition: all 0.25s ease-in-out 0s;         
}

.navigation-menu .text {
    display: flex;
    flex-direction: row;
    align-items: center;    
    /* width: var(--page-width); */
    opacity: 1;
    justify-content: space-between;
    margin-left: var(--secondary-inset);
    margin-right: var(--secondary-inset);
}

.navigation-menu .link-group {
    display: flex;
    gap: 2em;
    flex-direction: row;    
}

.navigation-menu a {
    opacity: 1;
    text-decoration: none;
    color: var(--nav-text);
}

.navigation-menu .icon {
    display: none;
    color: var(--nav-text);    
}

.navigation-menu p {
    color: var(--nav-text);
    margin: 0;
}

.navigation-menu .page-title {
    display: none;
}

@media only screen and (max-width: 1024px) {
    
    .navigation-menu .text {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (max-width: 600px) {
    
    .navigation-menu .icon {
        display: inherit;
    }

    .navigation-menu .link-group {
        display: none;
    }

    .navigation-menu .page-title {
        display: inherit;
    }

    .navigation-menu .website-title {
        display: none;
    }
}