/* Quiz Rounds */

.quiz-round h3 {
    margin: 0;
}

.quiz-round h4 {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0;
}

.quiz-round .text-pair {
    display: flex;
    flex-direction:  column;
    margin-bottom: 2em;
    gap: 0.3em;
}

.quiz-round .text-pair.reversed {
    flex-direction: column-reverse;
}

.quiz-round .introduction {
    margin-bottom: 2em;
}

.quiz-round ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    counter-reset: question; /* may be overriden by js */
    gap: 1em;
}

.quiz-round li {
    display: flex;     
    align-items: flex-start;       
}

.quiz-round li:before {
    color: var(--text);
    content: counter(question) " ";
    counter-increment: question;
    font-weight: bold;
    padding-right: 1em;
}

.quiz-round .image-scroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1em;
}

.quiz-round .image-scroller img {
    object-fit: cover;
    height: 20em;
}