.footer {
    color: white;
    background-color: var(--footer-background);
    padding: 4em var(--content-area-inset) 0;    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-contents {
    width: 100%;
}

.footer .links-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;        
}

.footer .link-group {
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    width: 10em;
}

.footer .link-group p {
    color: rgba(255, 255, 255, 0.281);
    margin: 0;    
}

.footer .link-group p:first-child {
    color: white;
    font-weight: bolder;
    margin-bottom: 1em;    
}

.footer .small-print {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8em 0 1em;
    color: rgba(255, 255, 255, 0.281);
}

.footer .small-print p {    
    color: rgba(255, 255, 255, 0.281);
}

.footer .small-print a {
    color: rgba(255, 255, 255, 0.281);    
}

.footer .small-print .icon {    
    font-size: 0.5em;
}

.footer a {
    font-weight: inherit;
    color: inherit;
}

@media only screen and (min-width: 1550px) {
    .footer-contents {
        max-width: calc(var(--max-page-width) - 2*var(--content-area-inset));
    }
}

@media only screen and (max-width: 1108px) {
    .footer .links-container {
        display: grid;   
        gap: var(--content-area-inset);
        grid-template-columns: repeat(4, 1fr);;
    }
}

@media only screen and (max-width: 830px) {
    .footer .links-container {        
        grid-template-columns: repeat(3, 1fr);;
    }
}

@media only screen and (max-width: 580px) {
    .footer .links-container {        
        grid-template-columns: repeat(2, 1fr);;
    }
}