
/* Variable Overrides */

:root {            
    
    --content-area-inset: 2em;

    /* Local Variables */
    --home-page-splash-foreground: #391D56;
    --default-preview-background: #C9CDE2;
    --gradient-start: white;
    /* --strong-gradient: linear-gradient(45deg, #B620E043, #32C5FF43, #B620E043, #B620E043); */
    /* --strong-gradient: linear-gradient(45deg, #f0c0ff, #d0f1ff, rgb(245, 209, 255), #e1b6ff); */
    --strong-gradient: var(--background-medium);
    /* --strong-gradient-alt: linear-gradient(0deg, #c9afc4, #f7dbff, #d0f1ff, rgb(245, 209, 255), #b0a5e2); */
    --strong-gradient-alt: var(--background-medium);
    --page-gradient: linear-gradient(180deg, rgb(255,255,255), rgb(255,253,250), rgb(219,239,255), rgb(255,245,252));
}

@media (prefers-color-scheme: dark) {
    :root {                    
        --home-page-splash-foreground: #ece7f1;
        --default-preview-background: #404452;
        --gradient-start: rgb(39, 39, 41);
        /* --strong-gradient: linear-gradient(45deg, #3e3440, #184356, #351b3c, rgb(68, 21, 81)); */
        /* --strong-gradient-alt: linear-gradient(0deg, #292325, #184356, #351b3c, rgb(41, 25, 56)); */
        --strong-gradient: var(--background-light);
        --strong-gradient-alt: var(--background-light);
        --page-gradient: linear-gradient(180deg, rgb(39, 39, 41), rgb(35,38,48), rgb(30,34,38), rgb(46,26,40));
    }
}

@media only screen and (max-width: 600px) {    
    :root {
        --content-area-inset: 1.5em;
    }
}

/* Background */

.home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: linear-gradient(180deg, rgb(255,255,255), rgb(255,253,250), rgb(219,239,255), rgb(255,245,252)); */
    background: var(--page-gradient);
    max-width: 100%;
    /* background: linear-gradient(45deg, #B620E043, #32C5FF43, #B620E043, #B620E043); */
}

.home-page-center {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.gradient-background {
    max-width: 100%;
    z-index: 1;
    background: var(--page-gradient);
}

@media only screen and (min-width: 1550px) {

    .gradient-background {
        max-width: var(--max-page-width);
    }

    .home-page-container {
        background: var(--strong-gradient-alt);
    }

    /* .inset-scroller {
        overflow-x: inherit;
        mask-image: linear-gradient(90deg, transparent, black var(--content-area-inset), black calc(100% - var(--content-area-inset)), transparent);;
    } */
}

@media only screen and (max-width: 1550px) {

    .home-page-container {
       background: none;
    }
}

/* Page Previews */

.page-preview-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 1em 0em 1em;    
}

.page-preview-header h2 {
    font-size: 1.9em;
    font-weight: 800;
    margin: 0;
}

.page-preview-header a {
    font-size: 1.2em;
    color: var(--secondary);
}

.page-preview {
    width: 22em;
}

.page-preview-details {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.8em;
    margin-top: 0.8em;  
}

.page-preview-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.7em;
}

.page-preview h3 {
    font-size: 1.2em;
    margin: 0;
}

.page-preview a {
    color: inherit;
}

.page-preview .preview-image {     
    width: 100%;
    height: 12em;
    border-radius: 0.3em;
    overflow: hidden;
    background-color: var(--default-preview-background);
}

.page-preview .preview-image img {        
    width: 100%;
    object-fit: cover;    
    transition: all 0.2s ease-in-out;
}

.page-preview:hover .preview-image img, .page-preview:focus .preview-image img {
  transform: scale(1.02);
}

.page-preview span {        
    color: var(--secondary);   
    font-weight: normal;   
}

.page-preview-details img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.35em;          
}

.page-preview-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}

@media only screen and (max-width: 600px) {

    /* Remove inset scrollers */

    .inset-scroller {
        display: grid;   
        overflow: hidden;  
        gap: var(--content-area-inset);
        grid-template-columns: calc(50vw - 1.5*var(--content-area-inset)) calc(50vw - 1.5*var(--content-area-inset));   
        padding: 0 var(--content-area-inset)
    }

    .inset-scroller > div {
        display: block;
    }

    .inset-scroller > div:first-child {        
        margin-left: 0;
    }

    .inset-scroller > div:last-child {        
        margin-right: 0;
    }

    .page-preview .preview-image {     
        width: 100%;
        height: calc(calc(50vw - 1.5*var(--content-area-inset)) / 1.83820);
        border-radius: 0.3em;
        overflow: hidden;
        background-color: var(--default-preview-background);
    }

    .page-preview-header h2 {
        font-size: 1.5em;        
    }
    
    .page-preview-header a {
        display: none;
    }
    
    .page-preview {
        width: 100%;
    }

    .page-preview-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0em;
    }

    .apps-section .page-preview span {        
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    .page-preview h3 {
        font-size: 1em;
    }
}

/* Splash Section */

.splash-section {
    height: 50vw;
	background-size: 100% 100%;
	animation: gradient 10s ease infinite;	
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
    background: var(--strong-gradient);
}

.splash-section-text {
    padding-bottom: 6vw;
    margin-left: var(--content-area-inset);
}

.splash-section h1 {
    font-size: 4.5vw;
    font-weight: 800;
    color: var(--home-page-splash-foreground);
}

.splash-section img {
    width: 51vw;
    position: absolute;
    top: 12.5vw;
    right: 3.25vw;
    /* z-index: 0; */
}

.splash-section .wave {
    width: 100%;
    height: 7vw;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    transform: translateY(1px);    
}

.splash-section .wave-path {    
    fill: var(--gradient-start);
}

.splash-call-to-action {    
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--home-page-splash-foreground);    
}

.splash-call-to-action span {    
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 800;
    letter-spacing: 0.2vw;
    opacity: 60%;
}

@media only screen and (min-width: 1550px) {

    .splash-section {
        background: none;
    }

    .splash-section .wave {
        display: none;
    }

    .splash-section {
        height: calc(0.6 * var(--max-page-width));
    }

    .splash-section-text {
        padding-bottom: 0;        
    }

    .splash-section h1 {
        font-size: calc(0.045 * var(--max-page-width));
    }
    
    .splash-section img {
        width: calc(0.51 * var(--max-page-width));;
        top: calc(0.105 * var(--max-page-width));;
        right: calc(0.0325 * var(--max-page-width));
    }
    
    .splash-section .wave {
        height: calc(0.07 * var(--max-page-width));;
    }
    
    .splash-call-to-action span {    
        font-size: calc(0.015 * var(--max-page-width));;
        letter-spacing: calc(0.002 * var(--max-page-width));;
    }

    .gradient-background {
        border-radius: 15px 15px 0px 0px;
    }
}

@media only screen and (max-width: 500px) {

    .splash-section {
        width: 100vw;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .splash-section-text {
        padding-bottom: 1em;
        margin: 6em var(--secondary-inset) 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .splash-section h1 {
        font-size: 2em;                
        text-align: center;
    }
    
    .splash-section img {
        width: 90vw;
        position: inherit;
        top: 0;
        right: 0;
        z-index: -2;
        margin-bottom: 3em;
    }
    
    .splash-call-to-action span {            
        font-size: 1em;
    }
    
}

/* Sections */

.home-page-section {    
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.home-page-section:first-child {    
    padding-top: 1em;
    padding-bottom: 2.5em;
}

.home-page-section:last-child {        
    padding-bottom: 5em;
}

@media only screen and (max-width: 600px) {
    .home-page-section {    
        padding-top: 2em;
        padding-bottom: 2.5em;
    }
    
    .home-page-section:first-child {    
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }
    
    .home-page-section:last-child {        
        padding-bottom: 5em;
    }
}